#jumbotron-override{
    background-color:#388E3C;
    color:#F5F5F5;
    margin-bottom: 4px;
    border-bottom: 2px outset #757575;
}

.container-override{
    color: #0B7F3F;
}

#body-override{
	background-color: ;
}

.label-override{
	/*color: #e8f5e9;*/
}

#h1override{
    text-align: center;
    color: #8c8c8c;
    border-bottom: solid 1px;
}