{% extends 'forum/theme.html' %}

{% block body %}
    <div class="container">
    <h2>
        <a href="{% url "category_name" slug=object.slug%}">{{object}}</a>
    </h2>
      <div class="list-group">
        <ul class="list-group">
        {% for i in object.thread_set.all %}
            <li class="list-group-item">
            {% for post in latest_posts %}
                {% if post.thread.id == i.id %}
                    {{ post.sent_date }}
                {% endif %}
            {% endfor %}
                <a href="{% url "thread_name" slug=i.slug pk=i.pk %}">
                    <h3 class="list-group-item-heading text-right">
                        {{i.title}}
                    </h3>
                </a>
            </li>
        {% endfor %}

            <a href="{% url "thread_create" %}">Create a Thread

            </a>
        </ul>
      </div>
    </div>
{% endblock %}