{% extends 'forum/theme.html' %}

{% block body %}

    <div class="container">
      <div class="list-group">
          <div class= "rows"
            <div class="col-md-6 col-md-offset-3 card-bg panel panel-default">
                <div class="panel-body ">
                    <div>
                        <ol>
                            <h3><strong><li>Don't be a dick.</li></strong></h3>
                            <h3><strong><li>Believe in Judas</li></strong></h3>
                            <h3><strong><li>Work work work</li></strong></h3>
                        </ol>
                </div>
          </div>
      </div>
    </div>


{% endblock %}