{% extends "forum/theme.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {{object.name}}
                <ul>
                    {%for obj in object.shortnews_set.all %}
                    <li><a href="{%url "news_detail" pk=obj.id%}">{{obj.title}}</a></li>
                    {%endfor%}
                </ul>
                <form action="." method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
