{% extends "forum/theme.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="list-group">
                    {% for i in posts %}
                    <li class="list-group-item">{{i.content_text}}
                        <span class="badge">{{i.sent_date}}</span>
                        <span class="badge">{{i.username}}</span>
                    </li>
                    {% endfor %}
                </ul>
                <form action="." method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
